---
const { overall_status } = Astro.props;
---

<div
    class={`rounded-2xl p-6 mb-12 flex items-center justify-between ${overall_status === "operational" ? "bg-emerald-500/10 border border-emerald-500/20" : "bg-amber-500/10 border border-amber-500/20"}`}
>
    <div class="flex items-center gap-4">
        <div
            class={`w-4 h-4 rounded-full ${overall_status === "operational" ? "bg-emerald-500" : overall_status === "degraded" ? "bg-amber-500" : "bg-rose-500"} animate-pulse`}
        >
        </div>
        <span class="text-xl font-semibold">
            {
                overall_status === "operational"
                    ? "All Systems Operational"
                    : "Some Systems Degraded"
            }
        </span>
    </div>
</div>
